.cryptoItem {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.11);
    box-shadow: 0 5px 40px 0 rgba(0,0,0,.11);
    border: none;
    padding: 20px 20px;
    margin-bottom: 30px;
    text-align: center;
    min-height: 180px;
}

.cryptoItem img{
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}

.cryptoItem .cryptoTitle{
    font-weight: 500;
    font-size: 18px;
}